.home-container {
	max-width: 1440px;
	display: grid;
	grid-template: auto auto auto / 2fr auto;
	column-gap: 100px;
	align-items: center;
}

.home-container > img {
	width: 40rem;
	grid-row: 1 / 4;
	grid-column: 2 / 3;
	align-self: center;
}

.home-container > h2 {
	font-size: 5rem;
	color: var(--orange-7);
}

.home-container > p {
	font-size: 2.5rem;
	color: var(--gray-10);
	font-family: "Albert Sans", sans-serif;
	font-weight: bold;
}

.home-container > button {
	justify-self: start;
	font-size: 2rem;
}
