.menu-container {
	flex: 1;
	max-width: 1440px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.menu-container > h2 {
	text-align: center;
	font-size: 5rem;
}

.menu-container > p {
	text-align: center;
	font-family: "Albert Sans", sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
	font-style: italic;
	color: var(--orange-7);
}

.menu {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 20px;
}

.pizza-container {
	background-color: var(--orange-1);
	padding: 20px;
	border-radius: 20px;
	display: grid;
	grid-template: 1fr auto auto auto / 1fr auto;
	gap: 20px;
	align-items: center;
}

.pizza-photo {
	grid-column: 1 / 3;
	justify-self: center;
}

.pizza-name {
	font-size: 2.3rem;
}

.pizza-price {
	background-color: var(--orange-7);
	color: var(--gray-0);
	padding: 10px;
	font-size: 1.25rem;
	font-family: "Albert Sans", sans-serif;
}

.pizza-description {
	font-family: "Albert Sans", sans-serif;
	font-size: 1.5rem;
	grid-column: 1 / 3;
}

.pizza-container > button {
	grid-column: 1 / 3;
}
